#loading-indicator {
  animation: spin 2s linear infinite;
  margin: 1rem auto;
  border: .25rem solid $publication-lighter-gray;
  border-top: .25rem solid $emerald;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
